*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
body{
    background-color: #8DA9C4;
    height: 100vh;
    font-size: 1.8rem;
}
.clock{
    background-color: rgb(255, 255, 255, .6);
    width: 30%;
    height: 60%;
    border: 5px solid #0B2545;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clock .number{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(var(--rotate));
    --rotate: 0;
}
.clock .num1{--rotate: 30deg;}
.clock .num2{--rotate: 60deg;}
.clock .num3{--rotate: 90deg;}
.clock .num4{--rotate: 120deg;}
.clock .num5{--rotate: 150deg;}
.clock .num6{--rotate: 180deg;}
.clock .num7{--rotate: 210deg;}
.clock .num8{--rotate: 240deg;}
.clock .num9{--rotate: 270deg;}
.clock .num10{--rotate: 300deg;}
.clock .num11{--rotate: 330deg;}
 
.clock .hand{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    border: 1px #85a5c4 solid;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transform-origin: bottom;
    z-index: 5;
    --rotation: 0;
}

::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5%;
    height: 3%;
    background-color: #134074;
    border-radius: 50%;
}

.clock .second{
    background-color: #E55812;
    height: 45%;
    width: 2px;
    border: none;
}

.clock .minute{
    background-color: #134074;
    height: 35%;
    width: 5px;
}

.clock .hour{
    background-color: #134074;
    height: 30%;
    width: 9px;
}
